@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Organisation.Models.Entities.Company>

@if(Model is null)
{
    <p>Record is Empty</p>
}
else
{
    <table class="table">
     <thead>
         <tr>
             <th>Id</th>
             <th>Name</th>
             <th>Department</th>
             <th>Establish</th>
             <th>Address</th>
             <th>Edit</th>
         </tr>
     </thead>
     <tbody>
         @foreach(var s in Model)
         {
         <tr>
             <td>@s.Id</td>
             <td>@s.Name</td>
             <td>@s.Department</td>
              <td>@s.DateOfFormatted</td>
             <td>@s.Address</td>
              <td>
               <a asp-controller="Companies" asp-action="Edit" class="btn btn-primary" asp-route-id="@s.Id">Edit</a>
              </td>
         </tr>
         }
     </tbody>

    </table>
}
